/* Scrollable move history */
.move-history {
  margin-top: 20px;
  max-height: 200px; /* Constrain the height of the move history */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  border: 2px solid #83de75;
  padding: 10px;
  background-color: #fff;
}

/* Ensure checkerboard and move history have space */
.checkerboard {
  margin-bottom: 20px;
}


.row {
  display: flex;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Adjust this to make the symbols smaller or larger */
  height: 100px; /* Adjust this based on your desired square size */
  width: 100px; /* Same as height to keep it square */
}


.black {
  background-color: #c745bc; 
  color: olivedrab;
}

.white {
  background-color: #ffffff; 
  border: 3px solid #83de75; 
  color: orange;
}
