.checkerboard {
  display: inline-block;
  margin: 20px auto;
}

.row {
  display: flex;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Adjust this to make the symbols smaller or larger */
  height: 100px; /* Adjust this based on your desired square size */
  width: 100px; /* Same as height to keep it square */
}


.black {
  background-color: #c745bc; 
  color: olivedrab;
}

.white {
  background-color: #ffffff; 
  border: 3px solid #83de75; 
  color: orange;
}
